.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px){
  nav.navbar.navbar-expand-lg.navbar-dark.bg-success.position-relative{
    position: fixed !important;
    width: 100%;
    z-index: 1111111111111111111;
  }
  .form-group.text-center.mt-5{
    display: flex;
    width: 50%;
  }
  .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.MuiPaper-elevation0{
    display: none;
  }
  .react-tel-input .form-control{
    width: 235px;
  }
  .MuiButton-root{
    font-size: 12px !important;
  }
  .MuiTypography-body1 {
    font-size: 10px !important;
  }
  legend.w-auto.px-2{
    font-size: 10px !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
